<div class="d-flex justify-content-center">
    <h1 >HOME PAGE</h1>   
</div>

<div class="row justify-content-center">
    <p> Mini Game App !</p>
    <p>
        Pair the names from the left column with the matching names that are on the right column
    </p>
    <p>
        You have to login in order to play!
    </p>
    <p>Or create new account!</p>

</div>

<div id="additionalLinksBtn" class="d-flex align-items-center flex-column">
<a routerLink="/login" >
    <button type="button" class="btn btn-outline-danger">I want to play!</button>
</a>
</div>