<div class="logincompclass">
<div class="d-flex justify-content-center">
    <h1 >Login</h1>
</div>
<div id="additionalLinksBtn" class="d-flex justify-content-center">
  <a routerLink="/">
      <button type="button" class="btn btn-outline-danger">Home</button>
  </a>
</div>
<div class="d-flex justify-content-center">
              <form >
                <div class="form-group">
                  <label for="exampleInputEmail1">Username</label>
                  <input type="text" class="form-control" id="username" placeholder="Enter username"
                  ngModel name="usrName" required #usernameInput="ngModel" [(ngModel)]="this.usr">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1" >Password</label>
                  <input type="password" class="form-control" id="pwd" placeholder="Password"
                  ngModel name="pwdName" required #pwdInput="ngModel" [(ngModel)]="this.pwd">
                </div>
                <div class="d-flex justify-content-center">
                  <button (click)="onLogin()" id="loginBtn" class="btn btn-dark">Login</button>
                  <button (click)="onRegister()" id="registerBtn" class="btn btn-secondary">Register</button>
                </div>
              </form>
           
</div>
</div>